* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* overflow: hidden; */
	transition: 0.25s ease-in-out;
}

::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}

.container {
	background-color: #222627;
	width: 970px;
	height: 578px;
}

.side {
	position: relative;
	display: inline-block;
	width: 52px;
	height: 100%;
	background-color: white;
	overflow: visible;
}

.menu {
	position: absolute;
	width: 52px;
	height: 100%;
	background-color: #222627;
	z-index: 2;
}

.ham {
	position: absolute;
	width: 100%;
	height: 50px;
	text-align: left;
	border: 2px #222627 solid;
	cursor: pointer;
	overflow: hidden;
}

.ham span {
	display: inline-block;
	margin: 12px;
}

.ham .iconfont {
	font-size: 20px;
	color: white;
}

.ham:hover {
	border: 2px gray solid;
	background-color: dimgray;
}

.fiveCombo {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 250px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: left;
	overflow: hidden;
}

.fiveCombo li {
	width: 100%;
	height: 50px;
	border: 2px #222627 solid;
	cursor: pointer;
	overflow: hidden;
}

.fiveCombo li:hover {
	border: 2px gray solid;
	background-color: dimgray;
}

.fiveCombo .iconfont {
	display: inline-block;
	font-size: 24px;
	color: white;
	margin: 10px;
	margin-left: 12px;
}

.menu h4 {
	display: inline-block;
	color: white;
	margin-left: 16px;
	margin-bottom: 13px;
}

.menuafter {
	width: 255px;
	box-shadow: 9px 0 6px rgba(0, 0, 0, 0.25)
}

/* folder menu */

.folder {
	display: inline-block;
	position: absolute;
	/* background-color: #FFFFFF; */
	left: 60px;
	top: 0px;
	height: 578px;
	width: 240px;
	z-index: 1;
	overflow: hidden;
}

.folderlist {
	width: 100%;
	/* height: 1000px; */
}

.folderlist ul {
	position: relative;
	transition: 0.3s ease-in-out;
	overflow: hidden;
}

.folderlist li {
	transition: 0.3s ease-in-out;
	display: inline-block;
	list-style: none;
	position: relative;
	width: 100%;
	height: 35px;
	color: #FFFFFF;
	/* background-color: gray; */
	margin-top: 5px;
	padding: 5px;
	/* overflow: hidden; */
}

.folderlist a:hover {
	background-color: gray;
}

.folderlist a {
	color: #FFFFFF;
	text-decoration: none;
	display: inline-block;
	position: absolute;
	top: 5px;
	width: 300px;
	height: 30px;
	padding: 3px;
	margin: 0;
}

.foldertrangle {
	position: absolute;
	right: 3px;
	top: 15px;
	width: 0;
	height: 0;
	border: 7px solid white;
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
}


/* box */

.box {
	display: inline-block;
	position: relative;
	/* background-color: #FFFFFF; */
	left: 260px;
	top: 0;
	height: 100%;
	width: 640px;
	z-index: 1;
	overflow: scroll;
}

.explore {
	display: inline-block;
	background-color: #222627;
	width: 308px;
	height: 550px;
	margin: 5px;
	left: 0;
	top: 0;
	position: absolute;
	overflow: hidden;
	/* transition: none; */
}

.play {
	display: inline-block;
	background-color: #222627;
	width: 308px;
	height: 550px;
	margin: 5px;
	left: 318px;
	top: 0;
	position: absolute;
	overflow: hidden;
}

.lenove {
	display: inline-block;
	background-color: #444444;
	width: 308px;
	height: 348px;
	margin: 5px;
	left: 318px;
	top: 358px;
	position: absolute;
}

.name {
	position: relative;
	height: 34px;
	width: 295px;
	background-color: transparent;
	margin: 6px;
}

.inp {
	position: absolute;
	text-indent: 5px;
	left: 5px;
	top: 50%;
	height: 25px;
	width: 240px;
	background-color: transparent;
	transform: translate(0, -50%);
	border: 0;
	font-size: 14px;
	color: white;
	border-radius: 3px;
}

.icon-chaguanbi {
	position: absolute;
	left: 75%;
	top: 50%;
	transform: translate(0, -50%);
	color: black;
	font-size: 20px;
	display: none;
}

.icon-dengyu {
	position: absolute;
	top: 50%;
	left: 90%;
	transform: translate(0, -50%);
	font-size: 20px;
	color: white;
	display: none;
}

.inp:focus {
	outline: none;
	background-color: white;
	color: black;
}

/* .inp:hover + .icon-dengyu{
	display: block;
} */
/* .name:hover{
	background-color: red;
} */
.hov {
	transition: none;
}

.hov:hover {
	border: 2px gray solid;
	background-color: dimgray;
}

.milan {
	width: 95px;
	height: 95px;
	margin: 6px;
	position: absolute;
	background-color: lightgrey;
	z-index: 3;
	top: 40px;
	left: 0;
}

.hov .iconfont {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	font-size: 60px;
}

.office {
	width: 95px;
	height: 95px;
	margin: 6px;
	top: 40px;
	left: 101px;
	position: absolute;
	background-color: lightblue;
	z-index: 3;
}

.icon-dianying {
	color: orangered;
}

.huatu {
	width: 95px;
	height: 95px;
	margin: 6px;
	left: 101px;
	top: 141px;
	position: absolute;
	background-color: lightcoral;
	z-index: 3;
}

.icon-kekoukele {
	color: red;
}

.Fill {
	width: 95px;
	height: 95px;
	margin: 6px;
	left: 202px;
	top: 242px;
	position: absolute;
	background-color: red;
	z-index: 3;
}

.icon-Fill {
	color: white;
}

.sboxscale {
	transition: 0.3s ease-in-out;
	transform: scale(0.95);
	background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.25));
}

.chrome {
	width: 95px;
	height: 95px;
	margin: 6px;
	position: absolute;
	background-color: lightgoldenrodyellow;
	z-index: 3;
	top: 40px;
	left: 0;
	color: #FF0000;
}

.edge {
	width: 95px;
	height: 95px;
	margin: 6px;
	top: 40px;
	left: 101px;
	position: absolute;
	background-color: lightblue;
	z-index: 3;
	color: royalblue;
}

.audio {
	width: 95px;
	height: 95px;
	margin: 6px;
	top: 40px;
	left: 202px;
	position: absolute;
	background-color: deepskyblue;
	z-index: 3;
}

.bigboxtran {
	transition: -moz-none;
	z-index: 1000;
}
